.nav {
	display: flex;
	gap: 24px;
}

.link {
	box-shadow: none;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	color: white;
	position: relative;
	text-decoration: none;
}

.link:after {
	content: '';
	position: absolute;
	bottom: -12px;
	left: calc(50% - 25px);
	width: 50px;
	height: 4px;
	background: var(--selection-colour);
	opacity: 0;
}

.link:focus:after {
	opacity: 1;
	animation: expand-width 0.2s cubic-bezier(0.42, 0, 0.04, 0.99);
}
